@model _11_MVC_Ogrenci_Not_Projesi.Models.EntityFramework.TBLKULUPLER
@{
    ViewBag.Title = "Getir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Kulupler", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.KULUPAD)
        @Html.TextBoxFor(m => m.KULUPAD, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.KULUPID)
    <div style="margin-top:15px">
        <button class="btn btn-success">Güncelle</button>
    </div>
}

