
@{
    ViewBag.Title = "YeniKulup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Kulüp Adı</label>
        <input type="text" class="form-control" name="KULUPAD" autofocus />
    </div>
    <div style="margin-top:10px">
        <button class="btn btn-info">Kulüp Ekle</button>
    </div>
</form>



