@model _11_MVC_Ogrenci_Not_Projesi.Models.EntityFramework.TBLNOTLAR
@{
    ViewBag.Title = "YeniNotlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group" method="post">
    <div style="margin-bottom:10px">
        <label>Öğrenci ID</label>
        <input type="text" class="form-control" name="OGRID" autofocus />
    </div>
    <div style="margin-bottom:10px">
        <label>Ders Adı</label>
        <input type="text" class="form-control" name="DERSID" />
    </div>
    <div style="margin-bottom:10px">
        <label>1. Sınav</label>
        <input type="text" class="form-control" name="SINAV1" />
    </div>
    <div style="margin-bottom:10px">
        <label>2. Sınav</label>
        <input type="text" class="form-control" name="SINAV2" />
    </div>
    <div style="margin-bottom:10px">
        <label>3. Sınav</label>
        <input type="text" class="form-control" name="SINAV3" />
    </div>
    <div style="margin-bottom:10px">
        <label>Proje</label>
        <input type="text" class="form-control" name="PROJE" />
    </div>
    <div style="margin-bottom:10px">
        <label>Ortalama</label>
        <input type="text" class="form-control" name="ORTALAMA" />
    </div>
    <div style="margin-bottom:10px">
        <label>Durum</label>
        <input type="text" class="form-control" name="DURUM" />
    </div>
    @*<div style="margin-bottom:10px">
        <label>Durum</label>
        @Html.DropDownListFor(m => m.TBLKULUPLER.KULUPID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    </div>*@
    <div style="margin-top:10px">
        <button class="btn btn-info">Sınav Ekle</button>
    </div>
</form>


