@using _11_MVC_Ogrenci_Not_Projesi.Models.EntityFramework

@{
    ViewBag.Title = "YeniDers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ders Adı</label>
        <input type="text" class="form-control" name="DERSAD" autofocus />
    </div>
    <div style="margin-top:10px">
        <button class="btn btn-info">Ders Ekle</button>
    </div>
</form>

