@model _12_MVC_Stok_Takip_Projesi.Models.Entity.TBLSATISLAR

@{
    ViewBag.Title = "YeniSatis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <h2>Yeni Satış Paneli</h2>
    <br />
    <label><b>Ürün Adı</b></label>
    @Html.DropDownListFor(x => x.TBLURUNLER.ID, (List<SelectListItem>)ViewBag.drop, new { @class = "form-control" })
    <br />
    <label><b>Personel Ad Soyad</b></label>
    @Html.DropDownListFor(x => x.TBLPERSONEL.ID, (List<SelectListItem>)ViewBag.drop2, new { @class = "form-control" })
    <br />
    <label><b>Müşteri Ad Soyad</b></label>
    @Html.DropDownListFor(x => x.TBLMUSTERI.ID, (List<SelectListItem>)ViewBag.drop3, new { @class = "form-control" })
    <br />
    <label><b>Fiyat</b></label>
    @Html.TextBoxFor(x => x.FIYAT, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Satış Yap</button>
</form>


